@model LopHoc
<div class="container">
    <h3>ChinhSua</h3>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post" asp-action="Edit">
        <div class="form-group">
            <label asp-for="TenLopHoc">Tên thể loại</label>
            <input asp-for="TenLopHoc" type="text" class="form-control" />
            <span asp-validation-for="TenLopHoc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SoLuongSinhVien">Ngày tạo</label>
            <input asp-for="SoLuongSinhVien" type="date" class="form-control" />
            <span asp-validation-for="SoLuongSinhVien" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Cập nhật</button>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}