
@{
    ViewData["Title"] = "Index";
}


<header>
    <h2>SuShi Salmon</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>001</td>
                    <td>Le Thi Kim Ha</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>001</td>
                    <td>Phan Minh Truong</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>001</td>
                    <td>Le Thanh Duy</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>001</td>
                    <td>Nguyen Trong Tin</td>
                </tr>
            </tbody>
        </table>
    </article>
</section>

<footer>
    <p>Copyright &copy; Le Thi Kim Ha - @DateTime.Now.Year</p>
</footer>

